######################################################################################
#  RUT-SOM-DATA-PT-06-2020-U-C                                          Douglas High #
#   ETL Project                                                      August 31, 2020 #
#      > main.ipynb                                                                  #
#   - read in planetary composite data of exoplanet information.                     #
#   - extract and transform data.                                                    #
#   - gather more data via web scraping and api calls, and from xl files.            #
#   - organize and load data onto postgres tables.                                   #
######################################################################################
#                           Modifications                                            #
#                           -------------                                            #
# M1 10/2020 - added solar flux field to planets for use in Project2.                #
#            - added habitability code to planets and set all to 0 for later use.    #
#            - add 03.M1 to get habitability code.                                   #
#M2 10/2020  - add 03.m2 habitable zone, planet temp (hot,warm,cold), and planet     #
#              type(Jovian, Miniterran, Neptunian, Subterran,Superterran, Terran).   #  
#M3 10/2020  - added further interest csv, loaded to db. code added to sections 00   #
#              and 07, and sectio 08.6 was created.                                  # ######################################################################################

In [1]:
################################
#00    I/O                     #
#   a- import libraries.       #
#   b- associate input file.   #
#   c- s/u postgres engine.    #
################################

#a
import numpy as np
from splinter import Browser
from sqlalchemy import create_engine
import pandas as pd
import time
import requests
import json
import warnings; warnings.simplefilter('ignore')
from config import gkey
from config import password

#b
data_in = "data_in/planet_composite_data.csv" 
doc_in = "data_in/column_descriptions.xlsx"
db_names = "data_in/new_column_names.xlsx"
new_col_in = "data_in/new_columns.xlsx"
glossary = "data_in/glossary.xlsx"
pot_in = "data_in/potHabitPlanets.csv"                 # M1
habzone_in = "data_in/phl_habzone.csv"                 # M2
further_interest = "data_in/furtherInterest.xlsx"      # M3


#c
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/planetary')

In [2]:
###########################################################
#01    Main Slicing                                       #
#   a- read in complete csv file, remove non data rows.   #
#   b- drop un-needed columns.                            #
#  M1- (b) added column 72-flux.                          #
###########################################################

#a
main_df = pd.read_csv(data_in)
main_df = main_df[330:]

#b
main_df = main_df.iloc[:,[1,2,3,8,9,10,12,13,16,17,31,41,51,62,72,77,150,152,157,162,173,178,183,188,216,219,241]]
main_df.reset_index(inplace=True,drop=True)

In [3]:
######################################################################################################
#02     Column Description Table                                                                     #
#   a- s/u chrome browser, goto document url, read html, close browser.                              #
#   b- pd.read html into list of tables, append all tables.                                          #
#   c- keep only first three columns, rename them.                                                   #
#   d- strip post-script character from first cells so the names match the doc_in names for merge.   #                                      #
#   e- read doc_in file, change some of the cell values to match scraped table.                      #
#   f- merge doc_in_df with scraped table to get description column, remove duplicate columns.       #
######################################################################################################

#a
executable_path = {'executable_path': 'c:/chromedriver.exe'}
browser = Browser('chrome', **executable_path)

url = "https://exoplanetarchive.ipac.caltech.edu/docs/API_PSCompPars_columns.html"
browser.visit(url)
time.sleep(3)
html = browser.html
browser.quit()

#b
tables = pd.read_html(html)

full_desc_df = tables[0]
full_desc_df = full_desc_df.append(tables[1], ignore_index=True)
full_desc_df = full_desc_df.append(tables[2], ignore_index=True)
full_desc_df = full_desc_df.append(tables[3], ignore_index=True)
full_desc_df = full_desc_df.append(tables[4], ignore_index=True)

#c
full_desc_df = full_desc_df.iloc[:,[0,1,2]]
full_desc_df.columns = ["column_name", "label", "description"]

#d
full_desc_df["column_name"] = full_desc_df["column_name"].str.replace("â€ ", "") 
    
#e
doc_in_df = pd.read_excel(doc_in)
doc_in_df["Column Name"] = doc_in_df["Column Name"].str.replace("sy_", "pl_")

#f
column_documentation_df = pd.merge(doc_in_df, full_desc_df, how="left", left_on="Column Name", right_on="column_name")
column_documentation_df = column_documentation_df.iloc[:,[0,1,4]]

In [4]:
####################################################################
#03    Column Documentation                                        #
#   a- read in xl file with new column names, convert to list.     #
#      also read in xl file with new columns created within pgm.   #
#   b- change column headers in main_df.                           #
#   c- change column names in documentation table, add new rows.   #
#   d- write column_documentation_df to csv file.                  #
####################################################################

#a
new_col_names_df = pd.read_excel(db_names, header = None)
new_columns = pd.read_excel(new_col_in, header = None)

new_col_names_df.columns = ["name"]
new_col_names = []

for index, x in new_col_names_df.iterrows():
    new_col_names.append(new_col_names_df["name"][index])  
#b
main_df.columns = new_col_names

#c
col_doc_df = pd.DataFrame({"column_name": new_col_names, 
                           "short_desc": column_documentation_df["Full Name"], 
                           "long_desc": column_documentation_df["description"]})
new_columns.columns = ["column_name", "short_desc", "long_desc"]

col_doc_df = col_doc_df.append(new_columns, ignore_index=True)

#d  
col_doc_df.to_csv("data_out/column_documentation.csv", index=False, header=True)

In [5]:
#############################################################################
#03.M1      Add Habit Code                                                  #
#   a- read in potential planets to pot_df and sort, sort main.             #
#   b- outer join into new_df.                                              #
#   c- delete redundant column, convert new column to integer, NaNs -> 0.   #
#############################################################################

#a
pot_df = pd.read_csv(pot_in)
pot_df.sort_values(["planet"])
pot_df.reset_index(inplace = True, drop = True)

main_df.sort_values(["pl_name"])
main_df.reset_index(inplace = True, drop = True)

#b
new_df = pd.merge(main_df, pot_df, how="outer", left_on="pl_name", right_on="planet")

#c
del new_df["planet"]
new_df["habit_code"] = new_df["habit_code"].fillna(0)
new_df["habit_code"] = new_df["habit_code"].astype("int")

In [6]:
############################################
#03.M2  Add Habit zone Code and Temp       #
#   a- read in habitzone sort, sort new.   #
#   b- outer join into newer_df.           #
#   c- delete redundant column.            #
############################################

#a
hz_df = pd.read_csv(habzone_in)
hz_df.sort_values(["P_NAME"])
hz_df.reset_index(inplace = True, drop = True)

new_df.sort_values(["pl_name"])
new_df.reset_index(inplace = True, drop = True)

#b
newer_df = pd.merge(new_df, hz_df, how="outer", left_on="pl_name", right_on="P_NAME")

#c
del newer_df["P_NAME"]

In [7]:
################################################################################################################
#04      Table Split-Planet                                                                                    #
#   a- create planet df with relevant columns.                                                                 #
#   b- convert density to ratio relative to earth's, reduce decimals in mass and orb_period_ed.                #
#   c- convert kelvin to celsius, create fahrenheit column.                                                    #
#     (converting NaN's to 0, not processing, then back to NaN's)                                              #
#   d- convert radius(e) to circumference in miles and kilometers,add as new columns and format with commas.   #
#      add as new columns and format with commas.                                                              #
#   e- rename columns, rearrange.                                                                              #
#   f- write planet_df to csv file.                                                                            #
#  m1- (e) added habitability code.                                                                            #
#  m2- (e) added habzone, temp_class, and planet type.                                                         #
################################################################################################################

#a
planet_df = newer_df.iloc[:,[0,1,2,7,10,11,12,13,15,14,9,6,27,28,29,30]]                    

#b
planet_df["pl_density"] = planet_df["pl_density"].astype("float")
planet_df["pl_density"] = round(planet_df["pl_density"] / 5.51, 4)

planet_df["pl_mass_e"] = planet_df["pl_mass_e"].astype("float")
planet_df["pl_mass_e"] = round(planet_df["pl_mass_e"],1)
planet_df["orb_period"] = planet_df["orb_period"].astype("float")
planet_df["orb_period"] = round(planet_df["orb_period"],2)

#c
planet_df["pl_temp_k"] = planet_df["pl_temp_k"].fillna(0)
planet_df["pl_temp_k"] = planet_df["pl_temp_k"].astype("int")
planet_df["temp_f"] = planet_df["pl_temp_k"]

for index, x in planet_df.iterrows():
    if planet_df["pl_temp_k"][index] != 0:
        planet_df["pl_temp_k"][index] = planet_df["pl_temp_k"][index] - 273
        planet_df["temp_f"][index] = round(1.8 * planet_df["pl_temp_k"][index] +32, 0)
    else:
        planet_df["pl_temp_k"][index] = np.nan
        planet_df["temp_f"][index] = np.nan

#d
circ_m = []
circ_k = []
planet_df["pl_radius_e"] = planet_df["pl_radius_e"].astype("float")
for index, x in planet_df.iterrows():
    circ_m.append(round(planet_df["pl_radius_e"][index] * 3959 * 2 * np.pi, 0))
    circ_k.append(round(planet_df["pl_radius_e"][index] * 6371 * 2 * np.pi, 0))

planet_df["circumference_k"] = circ_k
planet_df["circumference_m"] = circ_m
planet_df["circumference_k"] = planet_df["circumference_k"].fillna(0)
planet_df["circumference_m"] = planet_df["circumference_m"].fillna(0)
planet_df["circumference_k"] = planet_df["circumference_k"].astype("int").apply(lambda x: "{:,}".format(x))
planet_df["circumference_m"] = planet_df["circumference_m"].astype("int").apply(lambda x: "{:,}".format(x))

#e
planet_df.rename(columns={"pl_name":"name", "pl_ltr":"ltr", "orb_period": "orb_period_ed", 
                          "pl_radius_e":"radius_e", "pl_mass_e":"mass_e", "pl_insol": "solar_flux",
                          "pl_density":"density_e", "pl_temp_k":"temp_c", "P_HABZONE":"habzone",
                          "P_TYPE_TEMP": "temp_class", "P_TYPE": "type"}, inplace=True)
planet_df = planet_df.iloc[:,[0,1,2,3,4,5,17,18,6,7,9,12,13,8,16,14,15,10,11]]

#f
planet_df.to_csv("data_out/planets.csv", index=False, header=True)

In [8]:
#########################################################################
#05      Table Split-Discovery Facility                                 #
#   a- create discovery df, drop dups, sort, rename columns.            #
#   b- setup for call to google maps.                                   #
#   c- create lists to becomenew columns and exception list of bad      #
#      facility names.  initialize lists with Nans.                     #
#   d- call maps api, get location and coordinates for each facility.   #
#   e- add new columns, remove erroneous information retrieved.         #
#   f- write discovery_df to csv.                                       #
#########################################################################

#a
discovery_df = newer_df.iloc[:,[9,8]]
discovery_df = discovery_df.drop_duplicates(subset = ["disc_facility"])
discovery_df.reset_index(inplace=True,drop=True)
discovery_df.sort_values(["disc_facility"], inplace=True)
discovery_df.reset_index(inplace=True,drop=True)
discovery_df.columns = ["name", "type"]

#b
params = {"key": gkey}
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

#c
lat = []
long = []
location = []
badlist=("KELT", "KOINet", "MOA", "Qatar", "TrES", "XO")

for index, x in discovery_df.iterrows():
    lat.append(np.nan)
    long.append(np.nan)
    location.append(np.nan)

#d
for index, x in discovery_df.iterrows():
    target_city = discovery_df["name"][index]
    params["address"] = target_city
    response = requests.get(base_url, params=params)
    geo = response.json()
    try:
        if geo["status"] != "ZERO_RESULTS":
            lat[index] = geo["results"][0]["geometry"]["location"]["lat"]
            long[index] = geo["results"][0]["geometry"]["location"]["lng"]
            city = (geo["results"][0]["address_components"][3]["long_name"])
            country = (geo["results"][0]["address_components"][4]["long_name"])
            location[index] = (city + ", " + country)
    except:
        continue
#        print ("ERROR")

#e
discovery_df["location"] = location
discovery_df["latitude"] = lat
discovery_df["longitude"] = long

for index, x in discovery_df.iterrows():
    if discovery_df["type"][index] != "Ground":
        discovery_df["location"][index] = np.nan
        discovery_df["latitude"][index] = np.nan
        discovery_df["longitude"][index] = np.nan
    if discovery_df["name"][index] in badlist: 
        discovery_df["location"][index] = np.nan
        discovery_df["latitude"][index] = np.nan
        discovery_df["longitude"][index] = np.nan
        
#f
discovery_df.to_csv("data_out/facilities.csv", index=False, header=True)

In [9]:
###########################################################
#06     Table Split-Stars                                 #
#   a- create Star df, drop dups, sort, rename columns.   #
#   b- write star_df to csv.                              #
###########################################################

###  Future Considerations..  split type column, get new tables with such info
#   http://www.star.ucl.ac.uk/~pac/spectral_classification.html
#   https://sites.uni.edu/morgans/astro/course/Notes/section2/spectraltemps.html
#   https://www.enchantedlearning.com/subjects/astronomy/stars/startypes.shtml#:~:text=Stars%20are%20classified%20by%20their,stars%20are%20common%20but%20dim..

#a
star_df = newer_df.iloc[:,[1,16,17,18,19,20,21,22,23,24,25,26,3,4,5]]
star_df = star_df.drop_duplicates(subset = ["host_star"])
star_df.reset_index(inplace=True,drop=True)
star_df.sort_values(["host_star"], inplace=True)
star_df.reset_index(inplace=True,drop=True)
star_df.columns= ["star", "type", "temp_k", "radius_s", "mass_s", "bright", "gravity", "age", "density", 
                  "gal_lat", "gal_long", "distance", "num_stars", "num_planets", "num_moons"]

#b
star_df.to_csv("data_out/stars.csv", index=False, header=True)

In [10]:
##########################################
#07    Load Postgres                     #
#   a- read in glossary table from xl.   #
#   b- load all postgres tables.         #
#M3 - added further interest table.      #
##########################################

#a
glossary_df = pd.read_excel(glossary)
further_interest_df = pd.read_excel(further_interest)                                        #M3

#b
col_doc_df.to_sql('column_document', engine, if_exists='replace', index=False)
planet_df.to_sql('planets', engine, if_exists='replace', index=False)
star_df.to_sql('stars', engine, if_exists='replace', index=False)
discovery_df.to_sql('facilities', engine, if_exists='replace', index=False)
glossary_df.to_sql('glossary', engine, if_exists='replace', index=False)
further_interest_df.to_sql('further_interest', engine, if_exists='replace', index=False)      #M3

#################################
#08.n   Verify Table Loads      #
#   -  verify data on tables.   #
#################################

In [11]:
########################################
#08.1   Verify column_document         #
#   - give head of select all query.   #
########################################

pd.read_sql_query("select * from column_document", engine).head()

,column_name,short_desc,long_desc
0,pl_name,Planet Name,Planet name most commonly used in the literature.
1,host_star,Host Name,Stellar name most commonly used in the literat...
2,pl_ltr,Planet Letter,Letter assigned to the planetary component of ...
3,sys_stars,Number of Stars,None
4,sys_planets,Number of known Planets in system,Number of planets in the planetary system.

In [12]:
########################################
#08.2   Verify stars                   #
#   - give head of select all query.   #
########################################

pd.read_sql_query("select * from stars", engine).head()

,star,type,temp_k,radius_s,mass_s,bright,gravity,age,density,gal_lat,gal_long,distance,num_stars,num_planets,num_moons
0,11 Com,G8 III,4742,19,2.7,2.243,2.31,None,None,78.28055,264.1407,93.1846,2,1,0
1,11 UMi,K4 III,4213,29.79,2.78,2.4,1.93,1.56,None,41.04441,108.719,125.321,1,1,0
2,14 And,K0 III,4813,11,2.2,1.763,2.63,None,None,-21.05067,106.4116,75.4392,1,1,0
3,14 Her,K0 V,5338,0.93,0.9,-0.153,4.45,3.9,1.27393,46.94491,69.17043,17.9323,1,1,0
4,16 Cyg B,G3 V,5750,1.13,1.08,0.097,4.36,None,1.01103,13.20426,83.33649,21.1397,3,1,0

In [13]:
########################################
#08.3   Verify planets                 #
#   - give head of select all query.   #
########################################

pd.read_sql_query("select * from planets", engine).head()

,name,host_star,ltr,disc_year,orb_period_ed,radius_e,circumference_k,circumference_m,mass_e,density_e,solar_flux,habit_code,habzone,temp_c,temp_f,temp_class,type,disc_facility,disc_method
0,11 Com b,11 Com,b,2007,326.03,12.1,"484,365","300,989",6165.6,3.4664,None,0.0,0.0,NaN,NaN,Hot,Jovian,Xinglong Station,Radial Velocity
1,11 UMi b,11 UMi,b,2009,516.22,12.3,"492,371","305,964",4684.8,2.5045,None,0.0,0.0,NaN,NaN,Hot,Jovian,Thueringer Landessternwarte Tautenburg,Radial Velocity
2,14 And b,14 And,b,2008,185.84,12.9,"516,389","320,889",1525.5,0.7078,None,0.0,0.0,NaN,NaN,Hot,Jovian,Okayama Astrophysical Observatory,Radial Velocity
3,14 Her b,14 Her,b,2002,1773.40,12.9,"516,389","320,889",1481.1,0.6878,None,0.0,0.0,NaN,NaN,Cold,Jovian,W. M. Keck Observatory,Radial Velocity
4,16 Cyg B b,16 Cyg B,b,1996,798.50,13.5,"540,407","335,814",565.7,0.2287,None,0.0,2.0,NaN,NaN,Warm,Jovian,Multiple Observatories,Radial Velocity

In [14]:
########################################
#08.4   Verify facilities              #
#   - give head of select all query.   #
########################################

pd.read_sql_query("select * from facilities", engine).head()

,name,type,location,latitude,longitude
0,Acton Sky Portal Observatory,Ground,None,NaN,NaN
1,Anglo-Australian Telescope,Ground,"New South Wales, Australia",-31.275529,149.067260
2,Apache Point Observatory,Ground,"Otero County, New Mexico",32.780208,-105.819749
3,Arecibo Observatory,Ground,"Arecibo, Puerto Rico",18.346402,-66.752820
4,Atacama Large Millimeter Array (ALMA),Ground,"Antofagasta, Chile",-23.023434,-67.753833

In [15]:
########################################
#08.5   Verify glossary                #
#   - give head of select all query.   #
########################################

pd.read_sql_query("select * from glossary", engine).head()

,name,value,description,more_info
0,Abiogenesis,None,The creation on life from inorganic materials.,https://en.wikipedia.org/wiki/Abiogenesis
1,absolute zero,0 degrees kelvin,Theoretical point where gases reach minimum en...,https://en.wikipedia.org/wiki/Absolute_zero
2,astronomical unit (au),"149,597,870,700 meters.",The averagedistance between the earth and the ...,https://en.wikipedia.org/wiki/Astronomical_unit
3,Earth Density,5.51 g/cm^3,The average density of all planetary material ...,https://en.wikipedia.org/wiki/Solar_mass
4,earth mass,~5.9722 * 10^24 kg,The approximate mass of the earth.,https://en.wikipedia.org/wiki/Earth_mass

In [16]:
########################################
#08.6   Verify further interest        #
#   - give head of select all query.   #
########################################

pd.read_sql_query("select * from further_interest", engine).head()

,Cat,Name,Duration,Description,Link
0,1,4000 Exoplanets,1 min,"Animated timeline of discovery, plotted on chart",https://www.youtube.com/watch?v=aiFD_LBx2nM
1,1,EXOPLANETS size Comparison | 3D Animation,2 min,Shows size comparison of exoplanets against ea...,https://www.youtube.com/watch?v=ZmyI_NberMU
2,1,Standing on Proxima b - Closest Exoplanet to t...,5 min,Animation of what can be seen from Proxima b.,https://www.youtube.com/watch?v=ionwRI5T9V8
3,1,The most habitable Exoplanets we know of,6 min,Animation of potentially habitable exoplanets ...,https://www.youtube.com/watch?v=HhLwEjiQFaY
4,1,Wheel of Science - Exoplanets | Neil deGrasse ...,11 min,"Brief, Lighthearted Q and A about exoplanets.",https://www.youtube.com/watch?v=sTndbwrN1mo

In [17]:
###  END OF PROGRAM   ###

In [18]:
#########################################################################################################################
#05      Table Split-Discovery Site   
#  this code produced 5 extra occurances of location
# records (displacement values)  15,26,33,40,and 56 all went thru the try/if conditions and also the except condition??
# discovery_df, long, and lat all had length og 58, location had 63
#########################################################################################################################

# for index, x in discovery_df.iterrows():
#     target_city = discovery_df["Facility"][index]
#     params["address"] = target_city
#     response = requests.get(base_url, params=params)
#     try:
#         geo = response.json()
#         if geo["status"] == "ZERO_RESULTS":
#             print(f"try if {index}")
#             lat.append(np.nan)
#             long.append(np.nan) 
#             location.append(np.nan)
#         else:
#             print(f"try else {index}")
#             lat.append(geo["results"][0]["geometry"]["location"]["lat"])
#             long.append(geo["results"][0]["geometry"]["location"]["lng"])
#             city = (geo["results"][0]["address_components"][3]["long_name"])
#             country = (geo["results"][0]["address_components"][4]["long_name"])
#             location.append(city + ", " + country)
#     except:
#         print(f"except {index}")
#         lat.append(np.nan)
#         long.append(np.nan)
#         location.append("ERROR!!!!!!")